<mat-card *ngIf="launch!=null">
  <mat-card-header>
    <mat-icon mat-card-avatar>launch</mat-icon>
    <mat-card-title>
      <app-status-chip [statusId]="launch.status"
                       [statuses]="statuses"></app-status-chip>
      <h1 class="mat-h1">
        {{ launch.name }}
      </h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h3 class="mat-h3">
        At {{ launch.location.name }} On {{ launch.net }}.
      </h3>
      <mat-slide-toggle [checked]="isInFavorites"
                        (change)="toggleFavorite()">Favorite !</mat-slide-toggle>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <section *ngIf="launch.missions && launch.missions[0]">
      {{ launch.missions[0].description }}
    </section>
    <mat-divider></mat-divider>
    <img mat-card-image
         [src]="launch.rocket.imageURL"
         alt="Photo of {{ launch.rocket.name }}">

  </mat-card-content>
</mat-card>
